CatchApp/Service References/CatchReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamFishWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamFishWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Catch" nillable="true" type="tns:Catch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatch" nillable="true" type="tns:ArrayOfCatch" />
  <xs:complexType name="Catch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Species" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Week" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Catch" nillable="true" type="tns:Catch" />
</xs:schema>